mixin input(options)
    input.input(name=options.name placeholder=options.placeholder, type=options.type, value=options.value)&attributes(attributes)

    //- if options.custom=="calculator"
    //-     .input-custom
    //-         .input-custom
mixin labelInput(options)
    label.label&attributes(attributes) #{options.title}
        - if (!options.type) {options.type="text"}
        
        if options.select
            select.input(type='text' placeholder=options.placeholder )
                each option in options.select
                    option.option #{option}
        else
            if options.readonly
                input.input(type=options.type placeholder=options.placeholder readonly)
            else
                input.input(type=options.type placeholder=options.placeholder)
        if options.innerText
            .label__inner-text #{options.innerText}
        else if options.select
            .label__inner-text
                i.zmdi.zmdi-chevron-down

mixin loadInput(options)
    .load-input&attributes(attributes)
        input.load-input__input( type="file" id="customFile" name="file")
        label.load-input__label( for="customFile")
            .load-input__text Загрузить изображение
            .load-input__button Прикрепить