mixin contactCard(options)
    .contact-card(data-contact-card data-coordinatesX=options.x data-coordinatesY=options.y data-coordinates-title=options.title )
        if options.href
            a.contact-card__title(href=options.href)
                .contact-card__link #{options.title}
        else
            .contact-card__title
                .contact-card__link #{options.title}
        .contact-card__main
            .contact-card__coordinates
                .contact-card__item
                    .contact-card__item-icon
                        i.zmdi.zmdi-subway 
                    .contact-card__item-text #{options.metro}
                .contact-card__item
                    .contact-card__item-icon
                        i.zmdi.zmdi-pin 
                    .contact-card__item-text #{options.address}
                .contact-card__item
                    .contact-card__item-icon
                        i.zmdi.zmdi-email 
                    .contact-card__item-text #{options.email}
            .contact-card__mode
                .contact-card__item
                    .contact-card__item-icon
                        i.zmdi.zmdi-time 
                    .contact-card__item-text #{options.time}
            .contact-card__coontacts
                .contact-card__item
                    .contact-card__item-icon
                        i.zmdi.zmdi-phone 
                    .contact-card__item-text #{options.phone}
                

